* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--bg: #fff;
	--foreground: #fff;
	--btn-txt-color: #000;
	--red-btn: #800000;
	--blue-btn: #000080;
	--green-btn: #008000;
	--yellow-btn: #929201;
	--red-light: #ff0000;
	--blue-light: #0000ff;
	--green-light: #00ff00;
	--yellow-light: #ffff00;
	--txt-color: #000;
	--inside-shadow: #fff;
	--outside-shadow: #000;
	--hover-shadows: rgba(0, 0, 0, 0.95);
	--hover: #f6f6f6;
	--active: #e3e3e3;
	--border-line-color: 1px solid #000;
}
.dark-mode {
	--bg: #111823;
	--foreground: #2e343d;
	--btn-txt-color: #fff;
	--red-btn: #990000;
	--blue-btn: #5124b3;
	--green-btn: #008000;
	--yellow-btn: #929201;
	--red-light: #ff0000;
	--blue-light: #7433ff;
	--green-light: #00ff00;
	--yellow-light: #ffff00;
	--txt-color: #fff;
	--inside-shadow: #111823;
	--outside-shadow: #fff;
	--hover-shadows: rgba(0, 0, 0, 0.95);
	--hover: #363c45;
	--active: #474c54;
	--border-line-color: 1px solid #ffffff;
}
body {
	background: var(--bg);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr) auto;
	gap: 5px 0;
	place-items: center;
	color: var(--txt-color);
	padding: 10px;
}
.toggle-dark-mode {
	cursor: pointer;
	outline: none;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.toggle-dark-mode:active {
	border: var(--border-line-color);
}
.score-container {
	grid-area: 2/ 2/ 3 / 4;
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);
	place-items: center;
	gap: 5px;
}
.title {
	grid-area: 1 / 1 / 2 / 3;
	text-transform: capitalize;
	opacity: 87%;
}
.time-container {
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);
	align-items: center;
	gap: 5px;
}
.timer {
	font-weight: 600;
	font-size: 12px;
	opacity: 87%;
	grid-area: 1/1/2/3;
}
.record-time,
.record-score {
	font-size: 10px;
	opacity: 60%;
}
#record-time,
.score-output {
	font-weight: bold;
	opacity: 87%;
	font-size: 10px;
}
main {
	width: 100%;
	height: auto;
}
.difficulty-options {
	margin: 25px 0 30px;
	display: flex;
	justify-content: center;
	padding: 0 5px;
}
.select-difficulty {
	background: var(--foreground);
	color: var(--btn-txt-color);
	margin: 0 5px;
	width: 100%;
	min-width: 75px;
	max-width: 200px;
	border: none;
	padding: 5px;
	font-weight: 500;
	box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.25),
		0px 1px 2px rgba(0, 0, 0, 0.25);
	position: relative;
	outline: none;
}
.select-difficulty:active,
#start-game:active {
	background: var(--active);
	border: var(--border-line-color);
}
.select-difficulty:hover,
#start-game:hover {
	background: var(--hover);
}
.simon-says-section {
	position: relative;
	width: 100%;
	height: auto;
}
.main__container {
	width: 50%;
	min-width: 256px;
	max-width: 400px;
	height: 100%;
	min-height: 266px;
	max-height: 400px;
	margin: 0 auto;
	border-radius: 50%;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	overflow: hidden;
	position: relative;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1),
		0px 1px 2px 2px rgba(0, 0, 0, 0.15);
}
.button-div:nth-of-type(1) {
	background: var(--red-btn);
}
.button-div:nth-of-type(2) {
	background: var(--blue-btn);
}
.button-div:nth-of-type(3) {
	background: var(--green-btn);
}
.button-div:nth-of-type(4) {
	background: var(--yellow-btn);
}
#start-game {
	background: var(--foreground);
	color: var(--btn-txt-color);
	width: 60%;
	min-width: 276px;
	max-width: 450px;
	height: auto;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	outline: none;
	position: absolute;
	bottom: 42.5%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 3px 12px -2px rgba(0, 0, 0, 0.25),
		0px 1px 2px rgba(0, 0, 0, 0.25);
}
.hide {
	display: none;
}
.red.light {
	background: var(--red-light);
}
.blue.light {
	background: var(--blue-light);
}
.green.light {
	background: var(--green-light);
}
.yellow.light {
	background: var(--yellow-light);
}
@media screen and (min-width: 570px) {
	.main__container {
		width: 55%;
		min-height: 330px;
	}
}
@media screen and (min-width: 680px) {
	.main__container {
		min-height: 370px;
	}
}
button {
	user-select: none;
}
