* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #9ea0a0;
}
.main__container {
	width: 50%;
	min-width: 256px;
	max-width: 400px;
	min-height: 266px;
	max-height: 400px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	overflow: hidden;
}
.button-div:nth-of-type(1) {
	background: #800000;
}
.button-div:nth-of-type(2) {
	background: #000080;
}
.button-div:nth-of-type(3) {
	background: green;
}
.button-div:nth-of-type(4) {
	background: #929201;
}
#start-game {
	width: 60%;
	min-width: 276px;
	max-width: 450px;
	height: auto;
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	outline: none;
	box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.5),
		-5px -5px 10px -10px rgba(0, 0, 0, 0.5);
}
#start-game:hover {
	box-shadow: 8px 8px 20px -20px rgba(255, 255, 255, 0.95),
		-8px -8px 20px -20px rgba(255, 255, 255, 0.95);
	border-radius: 15px;
}
.timer {
	font-weight: 600;
	font-size: 16px;
	margin: 10px 0 0 10px;
}
.record-time {
	font-size: 16px;
	margin: 10px 0 0 10px;
}
.hide {
	display: none;
}
.red.light {
	background: red;
}
.blue.light {
	background: blue;
}
.green.light {
	background: #00ff00;
}
.yellow.light {
	background: yellow;
}
